<h1>{{title}}</h1>
<p>Bienvenido a la aplicaci&oacute;n {{title}}</p>
<hr>
<form action="/Newbio" method="POST">
	<input type="text" name="nombre">
	<input type="text" name="foto">
	<input type="submit" name="alta">
</form>