<h1>{{title}}</h1>
<p>Bienvenido a la aplicaci&oacute;n {{title}}</p>
<hr>
<form action="/Newbio" method="POST">
	<input type="text" name="nom_cte">
	<input type="text" name="fec_nac">
	<input type="submit" name="alta">
</form>
